.kappale1 {
    color: white;
    float: left;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    left: 0; 
    top: 0;
    width: 40%;
    padding-left: 2cm;
  }

.kappale2 {
    color: white;
    float: right;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    right: 0;
    top: 0;
    width: 40%;
    padding-right: 2cm;
}

h2 {text-align: center;
    margin-top: 30px;
    color: white;
    font-family: mokotoFont;
} 

p {text-align: center;
    font-size: 18px;
}

li {font-size: 18px;}

.navigointi a {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
}

.navb {
    background-color: blue;
    display: inline-block;
    width: 49%;
    border: none;
    color: white;
    font-family: mokotoFont; 
    font-size: 2vw;
    cursor: pointer;
    padding: 1vw;  
    border-radius: 50px;
}

.navb:hover {
    background-color: lightsteelblue;
    color: blue;
}

.navigointi b {float: left;}

.navigointi c {display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;}

.tekstikoko { font-size: 16px;}


