h1 {
    color: white;
    font-family: mokotoFont;
    font-size: 8vw;
    text-align: center;
}

h2 {
    color: white;
    margin: 0;
    text-align: center;
    font-size: 30px;
    /* position , z-index mahdollisesti turhia */
    z-index: 1;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.glow {
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px white;
    }

    to {
        text-shadow: 0 0 10px white;
    }
 }

.block {
    display: inline-block;
    width: 49%;
    border: none;
    background-color: blue;
    color: white;
    font-size: 3vw;
    cursor: pointer;
    padding: 4vw;
    position: relative;
    border-radius: 50px;
    font-family: mokotoFont;
}

.block:hover {
    background-color: lightsteelblue;
    color: blue;
}

.container {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}