h1 {
    color: white;
    font-family: mokotoFont;
    font-size: 8vw;
    text-align: center;
}

.glow {
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px white;
    }

    to {
        text-shadow: 0 0 10px white, 0 0 15px white, 0 0 20px white, 0 0 25px white;
    }
 }

.block {
    display: inline-block;
    width: 49%;
    border: none;
    background-color: blue;
    color: white;
    padding: 10vw 28px;
    font-size: 20px;
    cursor: pointer;
}

.block:hover {
    background-color: lightsteelblue;
    color: blue;
}

.container {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}