h2 {text-align: center;
    margin-top: 30px;
    color: white;
    font-family: mokotoFont;
} 

p {
    color: white;
    text-align: left;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

li {
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.navigointi {
    position: relative;
    top: 0;
    width: 100%;
    text-align: center;
}

.navb {
    display: inline-block;
    width: 49%;
    border: none;
    background-color: blue;
    color: white;
    font-size: 3vw;
    cursor: pointer;
    padding: 1vw;
    position: relative;
    border-radius: 50px;
    font-family: mokotoFont;
}

.navb:hover {
    background-color: lightsteelblue;
    color: blue;
}

.tekstikoko { font-size: 16px;}



/*Tab koodia*/

* {box-sizing: border-box}

/* Tabin tyyli */
.tab {
  float: left;
  background-color: #06085c;
  background: rgba(20, 5, 83, 0.5);
  width: 20%;
  height: 100%;
  margin-top: 22px;
  
}

/* Tabin napit/buttonit */
.tab button {
  display: block;
  background-color: inherit;
  color: white;
  font-size: 14px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;

}

.tab button:hover {
  background-color: cornflowerblue;
  color: white;
}


.tab button.active {
  background-color: white;
  color: #06085c;
}

/* Tabin sisältö-boxi */
.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 70%;
  border-left: none;
  height: 300px;
}

.alalogo {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
}

@media only screen and (max-width: 700px) 
{
    .mobiili {
      display: block;
      width: 100%;
      border: none;
      background-color: blue;
      color: white;
      font-size: 3vw;
      cursor: pointer;
      padding: 4vw;
      margin-bottom: 10px;
      position: relative;
      border-radius: 50px;
      font-family: mokotoFont;
    }
  
  
    H2 {
      font-size: 1em;
      font-family: mokotoFont;
    }

    .tab {
      float: left;
      background-color: #06085c;
      background: rgba(20, 5, 83, 0.5);
      width: 28%;
      height: 100%;
      margin-top: 22px;
    }

    .tab button {
      display: block;
      background-color: inherit;
      color: white;
      font-size: 0.7em;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      padding: 10px 16px;
      width: 100%;
      border: none;
      outline: none;
      text-align: left;
      cursor: pointer;
      transition: 0.3s;
    }
    .tabcontent {
      float: left;
      padding: 0px;
      width: 70%;
      border-left: none;
      height: 300px;
      margin-left: 2%;
    }
}