.kappale1 {
    color: white;
    float: left;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    left: 0; 
    top: 0;
    width: 40%;
    padding-left: 2cm;
  }

.kappale2 {
    color: white;
    float: right;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    right: 0;
    top: 0;
    width: 40%;
    padding-right: 2cm;
}

h2 {text-align: center;
    margin-top: 30px;
    color: white;
    font-family: mokotoFont;
} 

p {text-align: center;
    font-size: 18px;
}

li {font-size: 18px;}

.navigointi {
    position: relative;
    top: 0;
    width: 100%;
    text-align: center;
}

.navb {
    display: inline-block;
    width: 49%;
    border: none;
    background-color: blue;
    color: white;
    font-size: 3vw;
    cursor: pointer;
    padding: 2vw;
    position: relative;
    border-radius: 50px;
    font-family: mokotoFont;
}

.navb:hover {
    background-color: lightsteelblue;
    color: blue;
}

.tekstikoko { font-size: 16px;}


