.lomake {
    color: white;
    font-size: 1vw;
    font-family: mokotoFont;
    padding: 10px;
    line-height: 2;
    text-align: center;
    margin-top: 30px;
}

input[type="text"] {
    width: 50%;
    height: 40px;
}

input[type="submit"] {
    width: 5vw;
    text-align: center;
    font-size: 1vw;
}

input[type="radio"] {
    text-align: left;
}

body {
    padding: 0;
    margin: 0;
}

.nav {
    position: relative;
    top: 0;
    width: 100%;
    text-align: center;
}

.navb {
    display: inline-block;
    width: 49%;
    border: none;
    background-color: blue;
    color: white;
    font-size: 3vw;
    cursor: pointer;
    padding: 1vw;
    position: relative;
    border-radius: 50px;
    font-family: mokotoFont;
}

.navb:hover {
    background-color: lightsteelblue;
    color: blue;
}

h2 {
    color: white;
    margin-top: 80px;
    text-align: center;
    font-family: mokotoFont;
}